*{
    padding: 0%;
    margin: 0%;
    text-align: center;
}


body{
   background-image: linear-gradient(white 30%,rgb(248, 160, 174));
   
}

.logo1{
    margin-left: -2rem;
    margin-top: -4rem;
    width: 22rem;
    height: 22rem;
    float: left;
}
.logo2{
    margin-right: 3rem;
    float: right;
    width: 15rem;
    height: 13rem;
}
.logo-head{
    width: 5rem;
    height: 5rem;
}
.container{
   
    margin: 1rem auto;
    width: 500rem; 
}

.shop-head{
    font-family:cursive;
    font-weight: bolder;
    font-size:xx-large;
    width: 100%;
    padding-top: 1rem;
    text-align: center;
    color: rgb(255, 0, 140);
}

.powered-para{
    font-weight: bolder;
    margin-top: -1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media only screen and (max-width: 1000px) {
    .header{
        display: block;
        width: auto;
        height: auto;
        margin: auto;
    }
    
     .logo1{
        margin-top: 0.3rem;
        margin-left: 1rem;
        width: 7rem;
        height: 7rem;
        float: left;
    }
    .logo2{
        margin-top: 0.3rem;
        margin-right: 0.5rem;
        float: right;
        width: 7rem;
        height: 5rem;
    }
    .logo-head{
        width: 3rem;
        height: 3rem;
    }
    .shop-head{
        font-family:cursive;
        font-weight: bolder;
        font-size:large;
       width: 100%;
        padding-top: 1rem;
        text-align: center;
        color: rgb(255, 0, 140);
    }
    .powered-para{
        font-weight: bold;
        font-size: small;
        margin-top: -1.5rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .heading2{
     text-align: center;
    font-size: small;
    font-weight: bold;
    }
    
    .heading3{
        text-align: center;
    font-size: small;
    font-weight: bold;
    }

  }

  @media only screen and (max-width: 600px) {
    .header{
        display: block;
        width: auto;
        height: auto;
        margin: auto;
    }
    .logo1{
        margin-top: 0.3rem;
        margin-left: -0.7rem;
        width: 5rem;
        height: 5rem;
        float: left;
    }
    .logo2{
        margin-top: 0.3rem;
        margin-right: 0.2rem;
        float: right;
        width: 4rem;
        height: 3rem;
    }
    .logo-head{
        width: 1.5rem;
        height: 1.5rem;
    }
    .shop-head{
        font-family:cursive;
        font-weight: bold;
        font-size:medium;
       width: 100%;
        padding-top: 1rem;
        text-align: center;
        color: rgb(255, 0, 140);
    }
    .powered-para{
        font-weight: bold;
        font-size: small;
        margin-top: -0.5rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .heading2{
     text-align: center;
    font-size: smaller;
    font-weight: none;
    }
    
    .heading3{
        text-align: center;
    font-size: smaller;
    font-weight: bold;
    }

  }

.header{
    display: inline;
    width: auto;
    height: 20vh;
    margin: auto;
}
.row{
    margin: 2rem 0.5rem;
}
#card{
    background-image: linear-gradient(to right,rgb(239, 166, 228),rgba(195, 188, 219, 0.74));
    width: 22vw;
    height: 90vh;
    margin: 0.5rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px 5px black;
    overflow: hidden;
    min-width: 22vw;
}
#card-head{
    margin: 1rem 0;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.799);
    color: blanchedalmond;
    width: auto;
    height: 10%;
    border-radius: 0.3rem;
}
.img{
    margin: 1rem auto;
    width: 80%;
    height: 25%;
}
.product-list{
    margin-top: 1rem;
    padding: 2rem;
}
.card-deck{
    margin-top: 2rem;
}
#input-product{
    
    text-align: left;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    margin-top: 1rem;
    width: 50%;
    height: 2rem;
    padding: 1rem;
    background-color: rgb(234, 240, 240);
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem black;
}

#btn{
    width: auto;
    padding: 0.2rem 1rem;
    background-color: rgb(61, 59, 74);
    color:rgb(173, 84, 157) ;
    border-radius: 0.2rem;
    display: block;
    margin-left:45% ;
    margin-top: 1rem;
}

#btn:hover{
    background-color: rgb(173, 84, 157) ;
    color: black;
    font-weight: bold;
    font-size: large; 
}

.card-title{
    display: inline-block;
    font-size: larger;
    width: 100%;
}
.card-body h5{
    display: inline-block;
    font-weight: bolder;
}

